aside {
  @apply border-0 lg:border-r;
  @apply pt-10 !important;
}

h1 {
  @apply text-[40px] sm:text-[55px];
  @apply font-medium;
  @apply text-buttonPink;
}

header h1 {
  @apply leading-none;
  @apply text-[#161c2e];
}

header h2 > a {
  @apply text-[#161c2e];
}

header h2 > a:hover {
  @apply text-[#161c2e];
}

h2, h3 {
  @apply text-[#4B4B4B];
  @apply font-medium;
  @apply text-2xl sm:text-[40px];
  @apply leading-tight sm:leading-none !important;
  @apply mb-[26px] sm:mb-[43px] !important;
  @apply mt-[40px] sm:mt-[47px] !important;
}

p {
  @apply font-manrope;
  @apply text-[#616161];
  @apply font-normal;
  @apply text-base sm:text-xl;
  @apply leading-5 sm:leading-7 ;
}

.bulletpoints {
  @apply list-none;
  @apply text-[#616161];
  @apply ml-0 sm:ml-6;
}

.bulletpoints li {
  @apply font-manrope;
  @apply font-normal;
  @apply text-base sm:text-xl;
  @apply leading-5 sm:leading-7;
  @apply pl-2;
}

.bulletpoints li::marker {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

code {
  @apply bg-[#F0F0F0];
  @apply py-9 !important;
  @apply px-10 !important;
  @apply rounded-2xl !important;
  @apply inline-block;
  @apply text-[18px];
  @apply my-5;
}

article {
  @apply ml-[20px] sm:ml-[77px];
  @apply mr-[20px] sm:mr-[44px];
}

li::marker {
  content: none;
}

a {
  text-decoration: underline;
}

h2 > a {
  text-decoration: none;
  @apply hover:text-buttonPink;
  @apply hover:no-underline;
}
