.subtitle {
  @apply text-opacity-50;
  @apply mt-0;
  @apply mb-10 sm:mb-16 !important;
}

h1 {
  @apply text-4xl sm:text-[64px];
  @apply font-medium;
}

h2 {
  @apply text-3xl sm:text-[40px];
  @apply mb-[26px] sm:mb-[43px] !important;
  @apply mt-[40px] sm:mt-[47px] !important;
}

h2, h3 {
  @apply text-[#4B4B4B];
  @apply font-medium;
}

h3 {
  @apply text-2xl sm:text-[30px];
  @apply mb-[16px] sm:mb-[20px] !important;
  @apply mt-[30px] sm:mt-[37px] !important;
}

h4 {
  @apply text-xl sm:text-[20px];
  @apply font-medium;
  @apply text-[#4B4B4B];
}

p {
  @apply font-manrope;
  @apply text-[#616161];
  @apply font-normal;
  @apply text-base sm:text-xl;
  @apply leading-5 sm:leading-7 ;
}

.bulletpoints {
  @apply list-none;
  @apply text-[#616161];
  @apply ml-5 sm:ml-6;
}

.bulletpoints li {
  @apply font-manrope;
  @apply font-normal;
  @apply text-base sm:text-xl;
  @apply leading-5 sm:leading-7;
  @apply pl-2;
}

.bulletpoints li::marker {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em
}


code {
  @apply bg-[#F0F0F0];
  @apply py-9 !important;
  @apply px-10 !important;
  @apply rounded-2xl !important;
  @apply inline-block;
  @apply text-[18px];
  @apply my-5;
}

article {
  @apply ml-[0px] sm:ml-[20px];
  @apply mr-[0px] sm:mr-[0px];
}

li::marker {
  content: none;
}

main {
  @apply mt-0 sm:mt-10;
}

img {
  @apply w-full sm:w-3/4 !important; 
}
